@using Global5.Components.crud
@{
}


<div>
    <component type="typeof(Fornecedor)" render-mode="ServerPrerendered" />
</div>
@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}


